html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Lucida Grande', sans-serif;
}

.main {
  width: 500px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hue-bar {
  position: relative;
  width: 80%;
  margin: 1.5em auto;
  height: 8px;
  border-radius: 4px;
  background: linear-gradient(to right,hsl(0,100%,50%),hsl(60,100%,50%),hsl(120,100%,50%),hsl(180,100%,50%),hsl(240,100%,50%),hsl(300,100%,50%),hsl(360,100%,50%));
}

.hue-picker {
  position: absolute;
  left:-10px;
  top:-5px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: red;
  border: 1px solid #fff;
  cursor:pointer;
}

.color-picker canvas {
  display: block;
}

.picked-color {
  width: 100%;
  height: 100px;
  background: #ccc;
  margin-bottom: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
